@font-face {
    font-family: "STARWARS";
    src: url("../fonts/STARWARS.eot"),
    url("../fonts/STARWARS.woff2"),
    url("../fonts/STARWARS.woff"),
    url("../fonts/STARWARS.ttf"),
    url("../fonts/STARWARS.svg");
}

body {
    background: #000;
}
.main {
    max-width: 920px;
    margin: 0 auto;
    overflow: hidden;
}
.title {
    font-family: "STARWARS";
    font-size: 52px;
    text-align: center;
    color: #000;
    text-shadow: rgb(255, 217, 0) 1px 1px 0, rgb(255, 217, 0) -1px -1px 0,
    rgb(255, 217, 0) -1px 1px 0, rgb(255, 217, 0) 1px -1px 0;
}
.people__info {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(255, 217, 0);
    position: relative;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 15px 15px;
    line-height: 35px;
}
.main__info {
    font-family: "STARWARS";
    font-size: 24px;
    color: #000;
    text-shadow: rgb(255, 217, 0) 1px 1px 0, rgb(255, 217, 0) -1px -1px 0,
    rgb(255, 217, 0) -1px 1px 0, rgb(255, 217, 0) 1px -1px 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(255, 217, 0);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}